*{
  font-family: Montserrat;
}
.App {
  text-align: center;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.group{
  margin: 2rem ;
  
}

nav {
  background-color: #666;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

/* .react-bootstrap-table {
  height: 500px;
  overflow: auto;
} */

/* table 
th,
 table tr 
 {
  padding: 10px;
  text-align: left;
  border: 5px solid #6f6d6d;
  overflow: auto; 
   height: 50vh;
}

 table tbody{
  height: 50vh;

} 
table td{
  height: 20vh;
  overflow: hidden; 
  overflow: scroll;
  top: 20px;
   width: 3000px;
  height: 10vh;
  overflow: auto;

} */

form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"], form input[type="email"], form select, form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #666;
}
    .container{
        padding: 1rem;
    }